.input-container {
  display: flex;
  flex-direction: column;
  label {
    padding: 8px;
  }
  input {
    padding: 8px;
    &::placeholder {
      color: aquamarine;
      font-style: italic;
      font-weight: bold;
      font-size: 1rem;
    }

    border:1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
  }
}
