.card-component{
    box-shadow: 1px 1px 8px 8px rgba(0, 20, 0, 0.4);
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    width: fit-content;
    font-size: x-large;
    user-select: none;
    text-align: center;
    margin: 8px auto;
}